*{
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}
body {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Mali', cursive;
    
}
h1{
   text-align: center;
}
#menu-button{
    background: #3d3d3d;
    width: 50px;
    border-radius: 5px;
    position: sticky;
    cursor: pointer;
    transition: all linear .3s;
    padding: 4px;
    z-index: 1;
  }
  
  #menu-button.active{
    background: #3d3d3d;
  }
  #line-1,#line-2,#line-3{
    width: 90%;
    background: #fff;
    height: 8px;
    margin: 4px auto;
    border-radius: 2px;
    transition: all linear .3s;
  }
  
  #line-1.active{
  -webkit-transform: translate(0px,12px) rotate(45deg);
  transform: translate(0px,12px) rotate(45deg);
  }
  
  #line-2.active{
  opacity: 0;
  }
  
  #line-3.active{
  -webkit-transform: translate(0px, -12px) rotate(-45deg);
  transform: translate(0px, -12px) rotate(-45deg);
  }
  
  #menu{
    background: #f3f0f0;
    width: 90%;
    padding: 10px;
    color: #fff;
    position: absolute;
    font-size: 2rem;
    display: flex;
    position: absolute;
    top: 8px;
    border-radius: 5px;
  display: none;
  }
  
  .list{
    list-style: none;
    padding-top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
  }
  a{
    color: #000;
    text-decoration: none;
  }
   
  #popup1,
  #popup2 {
      background-color: rgb(104, 117, 117);
      height: 50px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .border {
      border-radius: 50%;
  }
  #space{
    height: 300px;
    width: 100%;
    border: 2px solid black;
    position: relative;
}
#spacebox{
    height: 100px;
    width: 100px;
    background-color:rgb(156, 180, 164);
    display: inline-block;
    position: absolute;
}
  
#box{
    display: block;
    gap: 20px;
}

 