/* universalus selektorius apimantis viska */
* {
    /* background-color: azure; */
}

h1 {
    color: rgb(39, 105, 105);
}

.rectangle {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}


/* per id="#"  linkas imamas labai retai, naudojama class'es */
#main_link{
    color: brown;
}

.big_text{
    font-size: 40px;
}

.float{
    position: fixed;
    /* skirtas kazkuriam blokui atsirasti vaizdo priekyje arba gale */
    z-index: -66;
}

/* sitoks variantas  naudojamas maziau */
div.big_text{
    color: blanchedalmond;
}

/* DRY */
/* DON'T REAPEAT YOURSELF */
/* jei kartojiesi su stilium geriau rasti viena vieta susidet */


.rectangle:hover{
    background-color: chartreuse;
}

.main {
    height: 300px;
    width: 100%;
    border: 5px solid black;
    position: relative;
}
.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: absolute;
}

.first {
    /* top: 0; */
    /* right: 0; */
    bottom: 50px;
    left: 200px;
    position: sticky;
}

.second {
    /* margin: 0 auto; */
    position: absolute;

    /* atstumia i krastines viduri,o transleitas objekta padalina perpus */
    right: 50%;
    transform: translateX(50%);
    transition: 1s ease-in-out;
}

.second:hover{
    right: -20px;
}